label[for="file-input"] {
  display: block;
  margin-bottom: 1em;
  font-size: 1em;
  color: #fff;
  opacity: .9;
  font-weight: bold;
}

input[type="file"] {
  cursor: pointer !Important;
}
input[type="file"]::-webkit-file-upload-button {
  background: #fff;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #b;
  border-radius: .2em;
}
inpust[type="file"]::-ms-browse {
  background: #fff;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #black;
  border-radius: .2em;
}

}

hr {
  opacity: .3;
  margin: 2em 0;
}
