@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #2E2E2E; 
}

#wrapper {
  text-align:center;
  font-family: 'Lato', sans-serif;
  text-transform:uppercase;
}

h1 {
  padding-top:30px;
  font-size:25px;
  letter-spacing:15px;
  color: #565f5e;
}

#toolbar {  
  width:100%;
  max-width:670px;
  min-width:550px;
  margin: 20px 0px 0px 73vw;
}

.button {
  width:70px;
  height:70px;
  border-radius:50%;
  background-color:#565f5e;
  color:#ffffff;
  text-align:center;
  font-size:3.5em;
  position:relative;
  left:50%;
  margin-left:-35px;
  z-index:1;
}

.button,.icons{
  -webkit-transition: -webkit-all 1s cubic-bezier(.87,-.41,.19,1.44);
          transition:  all 1s cubic-bezier(.87,-.41,.19,1.44);
}

.button:after {
  content:"+";
}

.button.active {
-webkit-transform: rotate(45deg);
 transform: rotate(45deg);
  left:60px;
}


.icons {
  width:0%;
  overflow:hidden;
  height:36px;
  list-style:none;
  padding:16px 10px 10px 50px;
  background-color:rgba(29, 26, 26, 0.28);
  box-shadow: 1px 1px 1px 1px rgba(8, 8, 8, 0.28);
  margin:-68px 0 0 45%;
  border-radius: 2em;
}

.icons.open {
  width:40%;
  margin:-68px 0 0 5%;
  overflow:hidden;
}

.icons li {
  display: none;
  width:20%;
  color:#f8f30a;
}

.icons.open li {
  width:30%;
  display: inline-block;
}



