select {

  /* styling */
  background-color: rgb(236, 236, 236);
      border: thin solid gray;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 110%;
      padding: 1% 18% 1% 3%;
      margin: 5% 1% 1% 1%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
}



/* arrows */

select.classic {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%),
  linear-gradient(to right, rgb(46, 221, 137), rgb(46, 221, 137));
  background-position: calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  100% 0;
  background-size: 5px 5px,
  5px 5px,
  2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
  linear-gradient(135deg, transparent 50%, white 50%),
  linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em,
  calc(100% - 20px) 1em,
  100% 0;
  background-size: 5px 5px,
  5px 5px,
  2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}
