*, *:before, *:after {
  box-sizing: border-box;
}

ketumanko {
  position: absolute;
  top: 32%;
  left: 65%;
  right: 0;
  bottom: 0;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  border: 4px solid #556677;
  border-radius: 8px;
  height: 12%;
  width: 14%;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: #556677;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
  font-size: 20px;
  font-weight: bold;
}
ketumanko::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
ketumanko:hover {
  color: #fff;
}
ketumanko:hover::before {
  box-shadow: inset 0 0 0 10em #556677;
}

gekikusamanko {
  position: absolute;
  top: 86%;
  left: 65%;
  right: 0;
  bottom: 0;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  border: 4px solid #556677;
  border-radius: 8px;
  height: 12%;
  width: 14%;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: #556677;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
  font-size: 20px;
  font-weight: bold;
}
gekikusamanko::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
gekikusamanko:hover {
  color: #fff;
}
gekikusamanko:hover::before {
  box-shadow: inset 0 0 0 10em #556677;
}

souiunosukinan {
  position: absolute;
      top: 140%;
      left: 65%;
      right: 0;
      bottom: 0;
      margin: auto;
      text-decoration: none;
      cursor: pointer;
      border: 4px solid #556677;
      border-radius: 8px;
      height: 12%;
      width: 14%;
      padding: 0;
      outline: none;
      overflow: hidden;
      color: #556677;
      -webkit-transition: color 0.3s 0.1s ease-out;
      transition: color 0.3s 0.1s ease-out;
      text-align: center;
      line-height: 250%;
      font-size: 20px;
      font-weight: bold;
}
souiunosukinan::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
souiunosukinan:hover {
  color: #fff;
}
souiunosukinan:hover::before {
  box-shadow: inset 0 0 0 10em #556677;
}
