<head>
    <meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="css/chaneged_password.css">
    <script src="js/Login.js"></script>


</head>

<body>
  <div class="wrapper">
	<div class="container">

<div class="h111">
</div>

<div class="wrapper">/
<div class="container">
    <h1 class="title">   変更が完了しました</h1>
    <form>
    <input type="button" onclick="location.href='login.html'"value="ログインへ戻る">
    </form>
    </div>
        </div>
    <div class="toggle"></div>
  </div>
</div>
        
    <script src="js/newlogin.js"></script>
        
</html>
