/*index*/
html, body, .page {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
-webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
-moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
-o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
color: #fff;
overflow: hidden;
}

* {
font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

.page {
position: absolute;
}

#p1 {
left: 0;
}

#p2, #p3, #p4, #p5, #p6 {
left: 200%;
}

#p1 { background: #00796B; }
#p2 { background: #00796B; }
#p3 { background: #00796B; }
#p4 { background: #00796B; }
#p5 { background: #00796B; }
#p6 { background: #00796B; }

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5,
#t6:target #p6{
transform: translateX(-190%);
-webkit-transform: translateX(-190%);
-moz-transform: translateX(-190%);
-o-transform: translateX(-190%);
transition-delay: .4s !important;
}

#t2:target #p1,
#t3:target #p1,
#t4:target #p1,
#t5:target #p1,
#t6:target #p1{
background: #009688;
}

#t2:target #p1 .icon,
#t3:target #p1 .icon,
#t4:target #p1 .icon,
#t5:target #p1 .icon,
#t6:target #p1 .icon{
-webkit-filter: blur(3px);
}

.icon {
color: #fff;
font-size: 32px;
display: block;
}

ul .icon:hover {
opacity: 0.5;
}

.page .icon .title {
line-height: 2;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon,
#t6:target ul .icon{
transform: scale(.6);
-webkit-transform: scale(.6);
-moz-transform: scale(.6);
-o-transform: scale(.6);
transition-delay: .25s;
}

#t2:target #dos,
#t3:target #tres,
#t4:target #cuatro,
#t5:target #cinco,
#t6:target #fuck{
transform: scale(1.2) !important;
-webkit-transform: scale(1.2) !important;
-moz-transform: scale(1.2) !important;
-o-transform: scale(1.2) !important;
}


ul {
position: fixed;
position: fixed;
z-index: 1;
top: 2%;
bottom: 0;
left: 0;
margin: 0;
height: 0;
width: 5.5%;
padding: 0;
text-align: center;
}

#menu .icon {
margin: 30px 0;
transition: all .5s ease-out !important;
-webkit-transition: all .5s ease-out;
-moz-transition: all .5s ease-out;
-o-transition: all .5s ease-out;
}

a {
text-decoration: none;
}

.title, .hint {
display: block;
}

.title {
font-size: 38px;
}

.hint {
font-size: 38px;
}

#p4 .hint {
display: inherit !important;
}

.hint a {
color: white;
transition: all 250ms ease-out;
-webkit-transition: all 250ms ease-out;
-moz-transition: all 250ms ease-out;
-o-transition: all 250ms ease-out;
}

.hint a:hover {
color: #FFF;
}

.line-trough {
text-decoration: line-through;
}

.page .icon {
position: absolute;
top: 0;
bottom: 70%;
right: 15%;
left: 0;
width: 1000px;
height: 170px;
margin: auto;
text-align: center;
font-size: 100px;
line-height: 1.3;
transform: translateX(360%);
-webkit-transform: translateX(360%);
-moz-transform: translateX(360%);
-o-transform: translateX(360%);
transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
-webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
-moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
-o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .icon {
height: 2px;
}

.page#p1 .icon {
transform: translateX(10%) !important;
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon,
#t6:target .page#p6 .icon{
transform: translateX(0) !important;
-webkit-transform: translateX(0) !important;
-moz-transform: translateX(0) !important;
-o-transform: translateX(0) !important;
transition-delay: 1s;
}


.wrap a span{
  position: absolute;
  opacity: 0;
  top: -20px;
  left: 20px;
  width: 80px;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  color: #009688;
  font-size: 12px;
  line-height: 1;
  transition: .3s;
}
.wrap a span:after{
  position: absolute;
  top: 100%;
  left: 35px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  content: "";
}
.wrap a:hover span{
  opacity: 1;
  top: -40px;
}

.fuckinchinese a span{
  position: absolute;
  opacity: 0;
  top: -20px;
  left: 20px;
  width: 180px;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  color: #009688;
  font-size: 18px;
  line-height: 1;
  transition: .3s;
}
.fuckinchinese a span:after{
  position: absolute;
  top: 100%;
  left: 35px;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  content: "";
}
.fuckinchinese a:hover span{
  opacity: 1;
  top: -40px;
}


body {
  background: #fff;
  color: #fff;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 34px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #1abc9c;
}
.pen-title span a {
  color: #1abc9c;
  font-weight: 600;
  text-decoration: none;
}

/* Rerun */
.rerun {
  margin: 0 0 30px;
  margin: 0 0 30px;
  text-align: center;
}
.rerun a {
  cursor: pointer;
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.rerun a:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Scroll To Bottom */
#codepen, #portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #1abc9c;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
}
#codepen i, #portfolio i {
  line-height: 56px;
}
#codepen:hover, #portfolio:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#portfolio {
  bottom: 96px;
  right: 36px;
  background: #fff;
  width: 44px;
  height: 44px;
  -webkit-animation: buttonFadeInUp 1s ease;
  animation: buttonFadeInUp 1s ease;
}
#portfolio i {
  line-height: 44px;
}

/* Container */
.container {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}
.container.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.container.active .card:nth-child(2) {
  background: transparent;
  margin: 0 10px;
}
.container.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 15px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.container.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.container.active .card.alt .toggle:before {
  content: '';
}
.container.active .card.alt .title,
.container.active .card.alt .input-container,
.container.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.container.active .card.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.container.active .card.alt .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.container.active .card.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.container.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.container.active .card.alt .button-container {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

/* Card */
.card {
  position: relative;
  background: transparent;
  border-radius: 15px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px transparent, 0 1px 2px transparent;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.card:first-child {
  background: transparent;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #fff;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 60px 50px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #fff;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #fff;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #b2dfdb;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
  border-color: #fff;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: #fff;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.card .footer {
  margin: 40px 0 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .footer a:hover {
  color: #bababa;
}
.card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.card.alt .toggle {
  position: relative;
  background: #0168B7;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}
.card.alt .toggle:before {
  content: '\f040';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;

  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.card.alt .title .close:before {
  content: '\00d7';
}
.card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container button span {
  color: #0168B7;
}
.card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
.h111 {
  height: 0;
  margin: 0;
  padding: 0;
}


.manko {
  width: 55vw;
  margin: 12vw;
}

h1 {
  margin: 80px 0px 50px 0px;
  text-align: center;
  color: #FFF;
  font: 700 16px Montserrat;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.pop {
  width: 300px;s
  height: 300px;
  margin: 0 auto;
  background: #0199DA;
  position: relative;
  top: -187px;
  border-radius: 50%;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.fa-trash-o {
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  z-index: 5000;
  color: #FFF;
  padding: 15px 15px 12px 15px;
}

.fa-trash-o:hover {
  color: #01da85;
}

.fa-hdd-o {
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  z-index: 5000;
  color: #FFF;
  padding: 15px 15px 12px 15px;
}

.fa-hdd-o:hover {
  color: #01da85;

.bg {
  background: #FFF;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.bg-switch {
  background: transparent;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.scale {
  -moz-transform: scale(100);
  -o-transform: scale(100);
  -ms-transform: scale(100);
  -webkit-transform: scale(100);
  transform: scale(100);
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -ms-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}

.shrink {
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*SELECT*/
